.header {
  width: 100%;
  height: 3.375rem;
  background-color: #868686;
  padding: 0.4rem 1.5rem;
}

.navbar {
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
